*{
  scroll-behavior: smooth;

}

body{
  margin: 0 0 50px 0;
  overflow-x: hidden;
  width: 100vw;
  font-family: sans-serif;

  background: linear-gradient(247deg, rgba(155,224,255,1) 10%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(155,224,255,1) 90%);
}

.light-text{
  color: #e6e6e6;

}

.dark-text{
  color: black;
}

.light-text, 
.dark-text{
  font-size: 18px;
}

.title{
  font-size: 25px;
}

.large-title{
  font-size: 30px;
}

/* GLOBAL END */

/* NAVBAR START */

#navbar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  height: 40px;
  width: 100vw;

  background: linear-gradient(90deg, rgba(242, 189, 55,1) 0%, rgb(96 37 135) 36%);



}

#logo{
margin: 0 0 0 20px;
font-family: serif;
}

#logo h1{
  color: white;
  margin-left: 50px;
  font-size: 27px;
}

#nav-right-side{
  margin: 0 20px 0 0;
  height: 100%;
  display: flex;
  align-items: center;

}

.nav-btn-div{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56%;
  margin: 0 10px 0 10px;
  width: 5rem;
  border-radius: 10px;

  transition-duration: 0.5s;
}
.nav-btn-div:hover{
  animation: shake 0.4s ease-out;
  background-color:  #ffffff28;

  -webkit-box-shadow: 0px 0px 13px 0px #ffffff50; 
box-shadow: 0px 0px 13px 0px #ffffff50;

}

.nav-btn{
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-decoration: none;

  transition-duration: 0.5s;
}
.mini-x-shake:hover{
  animation: mini-text-shake 0.3s ease-out;

}

@media screen and (max-width: 550px) {
  #logo h1{
    width: max-content;
    margin-left: 0;
    font-size: 22px;
  }

  .nav-btn-div{
    margin: 10px 15px 10px 15px;
    width: 2rem;
  }

  #hero-section{
    background-position-x: 8% ;
  }
}

/* NAVBAR END */

/* HERO SECTION START */

#hero-section{
  background-image: url(./media/img/ocean-g7b1afebdb_1280.jpg);
  background-position-y: 44%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 5px rgb(242 189 55);
}

#hero-article{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.x-shake,
 .nav-btn{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-shake:hover{
  animation: text-shake 0.6s ease-out;
}

.btn{
  text-decoration: none;
  color: rgb(248 248 248);
}



#portfolio-btn{
  height: 4rem;
  width: 16rem;
  border: solid white 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#portfolio-btn:hover{
  animation: hero-btn 2s ease-in-out infinite,
  shake 0.4s ease-out;
}


/* HERO SECTION END */


/* ABOUT SECTION START */

#about-section{
display: grid;
grid-template-columns: auto auto;
background-image: linear-gradient(0deg,rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(./media/img/solnedg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0 !important;
    color: white;
    line-height: 25px;
    justify-content: space-evenly;
    background-size:cover ;
}

#about-section img{ /*Bild på mig */
    width: 40vh;
    height: 40vh;
    object-fit: cover;
    border: rgb(242 189 55) solid 5px;
    border-radius: 50%;
    margin: 20px;


}
#about-section article{
    width: 50vw;
}
#about-section h2{
    border-bottom: solid red 5px;
    border-radius: 5px;
}

/* ABOUT SECTION END */

/* SERVICE SECTION START */

#service-title{
  width: 100vw;
  text-align: center;
}

#service-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}
#service-section article{
  width: 270px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 40vh;
  padding: 0px;
  margin-top: 10px;
  cursor: pointer;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#service-section article:hover{
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.service-card-head-wrapper{
  width: 100%;
  height: 120px;
  background-color: red;
  color: white;
  padding: 0;
  border-radius: 6px 6px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-card-head-wrapper h2{
  margin: 10px;
}

#service-section i{
background-color: black;
font-size: 20px;
padding: 20px;
border-radius: 50%;
margin-top: 20px;
}

#service-section p{
  margin: 15px;
}


/* SERVICE SECTION END */

/* MOBILE START */

@media screen and (max-width: 800px) {

  #about-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

}

/* MOBILE END */


/* ANIMATIONS START */

@keyframes text-shake {
  20%{
    transform: translate3d(5px, 0, 0);
  }

  40%{
    transform: translate3d(-5px, 0, 0);
  }

  60%{
    transform: translate3d(3px, 0, 0);
  }
  80%{
    transform: translate3d(-3px, 0, 0);

  }
  100%{
    transform: translate3d(0, 0, 0);
  }
}


@keyframes mini-text-shake {
  20%{
    transform: translate3d(2px, 0, 0);
  }

  40%{
    transform: translate3d(-2px, 0, 0);
  }

  60%{
    transform: translate3d(1px, 0, 0);
  }
  80%{
    transform: translate3d(-1px, 0, 0);

  }
  100%{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shake {
  25%{
    transform: rotate(2deg);
  }
  50%{
    transform: rotate(-2deg);
  }
  75%{
    transform: rotate(1deg);

  }
  90%{
    transform: rotate(-1deg);

  }

}


@keyframes hero-btn{
  0%{
    background-color: rgba(255, 255, 255, 0.2);
  }
  20%{
    background-color: rgba(38, 18, 255, 0.2);
  }
  /* 33%{
    transform: rotate(5deg);
  } */
  40%{
    background-color: rgba(250, 18, 255, 0.2);

  }
  60%{
    background-color: rgb(255 18 114 / 20%);
  }
  /* 66%{
    transform: rotate(-5deg);
  } */
  80%{
    background-color: rgb(255 18 18 / 20%);
  }
  100%{
    background-color: rgba(255, 255, 255, 0.2)
  }
}

/* ANIMATIONS END */


/* SERVICE MODAL START */

.close-icon{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 23px;
  color: black;
  cursor: pointer;
}

.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-h1{
  grid-area: title;
  text-align: center;
  align-self: center;
}

.modal-img {
grid-area: img;
height: 90%;
width: 90%;
align-self: center;
justify-self: center;
object-fit: cover;
object-position: left;
}

.modal-p{
  grid-area: p;
  overflow: auto;
  margin: 20px;
}

.github-link{
  grid-area: link-p;
  align-self: end;
  margin: 0 0 20px 10px;
  line-break: anywhere;
}


.modal-wrapper{
  height: 90%;
  max-height: 850px;
  max-width: 900px;
  width: 90%;
  background-color: rgb(245, 245, 245);
  position: relative;
  border: solid 2px gray;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 50% 50% ;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-areas: 
  "title title"
  "title title"
  "img p"
  "img p"
  "img p"
  "img p"
  "img p"
  "img p"
  "img link-p"
  "img link-p"

  ;

}

@media screen and (max-width: 550px) {
  .modal-wrapper{
    grid-template-areas: 
    "title title"
    "title title"
    "img img"
    "img img"
    "img img"
    "p p"
    "p p"
    "p p"
    "p p"
    "link-p link-p";
  }

  .modal-wrapper img{
    object-fit: contain;
    object-position: center;
  }

  .modal-p{
    margin: 10px;
  }

}


/* SERVICE MODAL END */

/* CONTAKT START */
 
.form{
display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto auto 5rem;
width: 100vw;
grid-template-areas: 
"name message"
"email message"
"subject message"
"btn btn"
;
}

.form-input{
  width: 50%;
  font-size: 17px;
  padding: 3px;
  border: solid 1px #828282;
  border-radius: 5px;
  margin: 4px 0 10px 0 ;
}

.form-TA{
  width: 67%;
  height: 12rem;
}

.form-btn{
  grid-area: btn;
  width: 7rem;
  height: 34px;
  justify-self: center;
}

.form-lable{
  font-size: 18px;
  margin: 10px 0 4px 0;
}

.contact-section{
  margin: 30px 0;
  border: solid 2px #bababa;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
}

#form-name-id{
  grid-area: name ;
}

#form-email-id{
  grid-area: email ;

}

#form-subject-id{
  grid-area: subject ;

}

#form-message-id{
  grid-area: message ;
display: flex;
flex-direction: column;
}

.form div{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* CONTAKT START */
